.expense {
  /* display: flex; */
  flex: 0.7;
  height: 80px;
  background-color: #f5c4b1;
}

.expense__top {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.back__button {
  flex: 0.2;
  margin-left: 10px !important;
}
.expense__top > h3 {
  flex: 0.8;
  margin-left: auto;
  margin-right: auto;

  color: #323232;
}

.expense__topText {
  font-weight: 700;
}

.background__form {
  background-color: gray;
  height: 300px;
  background-color: #faebe5;
}

.background__form > h5 {
  margin-top: 10px;
  opacity: 0;
}

.main__form {
  display: flex;
  justify-content: center;
}

.expense__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: -250px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-color: rgb(247, 219, 219);
  border-radius: 5%;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.expense__form > form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.expense__form > form > Button {
  background-color: #5b4d75 !important;
}

.expense__form > form > input {
  margin-bottom: 20px;
  height: 40px;

  border: none;
  padding-left: 10px;
}

.expense__error {
  margin-top: 0px !important;
  color: red;
}
